# Ignore everything
*

# Include files
!.editorconfig
!.gitignore
!.prettierrc.yml
!LICENSE
!README.md
!odin_llvm.sh

# Include files from directories
!.github/
!.github/workflows/
!.github/workflows/*.yml

!.vscode/
!.vscode/extensions.json
